/.vscode
/Calendario_Curso_IA_Def.pdf
/GOP_GJ_IA_sept2023.pdf
Bloque 5 - Deep Learning para Visión Artificial/Mod7_T1_Presentación_POEJ_Especialista_IA.pdf
Bloque 5 - Deep Learning para Visión Artificial/Mod7_T3_Presentación_POEJ_Especialista_IA.pdf
Bloque 5 - Deep Learning para Visión Artificial/Mod7_T2_Presentación_POEJ_Especialista_IA.pdf
Bloque 5 - Deep Learning para Visión Artificial/Mod7_T3_Presentación_POEJ_Especialista_IA.pptx
Bloque 3 - Machine Learning\arboles decision.pdf
Bloque 3 - Machine Learning\Inteligencia Artificial y Machine Learning - 1 -conceptos generales.pdf
Bloque 3 - Machine Learning\ml_sup_clas.pdf
Bloque 3 - Machine Learning\ml_sup_reg.pdf
